# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
.fseventsd

# VS Code
.vscode/

# Archivos temporales
*.log
*.tmp
*.swp
*.swo

# Node modules (si usas npm/node en el futuro)
node_modules/

# Archivos de respaldo de editores
*~
*.bak
*.backup

# Carpetas de sistema
Thumbs.db
desktop.ini


tempCodeRunnerFile.js